<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		{% block head %}
			<link rel="stylesheet" href="css/styles.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		{% endblock %}
	</head>
		<div class="main-block">
				<!-- <img src="http://i.imgur.com/KFev4iO.png" style="height: 200px; width: auto"> -->
			<img src="http://i.imgur.com/FdMjing.jpg" style="height: auto; width: 100%">
			<div class="inner-block">
				<br><br>
				<div style="color: #414141">
				<p style="font-size: 18px;"><strong>Congrats!<!-- , <span style="color: #DFBFC0;"> {{receiverName}}!</span> --></strong></p>
				<p style="font-size: 16px;">You have received a direct message from Bloom:</p>
				<p>
				<blockquote>{{messageText}}</blockquote><br><br>
				<a class="bloom-anchor" href="https://bloomweddings.co.za">www.bloomweddings.co.za</a><br><br>
				<strong  style="color: #DFBFC0;">Bloom</strong>
				</p>
				<br><p style="font-size: 12px;">If you believe you recieved this mail in error, you may safely ignore it or contact us with any questions. Thank you for your support</p>
				</div>
			</div>

				<div class="pink-strip">
					<a href="#">Unsubscribe</a> | <a href="#">Edit Preferences</a> | <a href="#">Privacy Policy</a>
				</div>

				<div class="grey-footer">
					You have received this email because you requested to register an account on Bloom. To unsubscribe from all emails from Bloom, <a href="#">click here</a>, or click here to <a href="#">update your email preferences.</a>.<br><br>&copy; 2017 Bloom. All Rights Reserved.
				</div>
		</div>
</html>